name: module_admin_empresa
description: Módulo de administração da empresa (funcionários, horários, tenant)
version: 0.0.1
publish_to: none

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  core:
    path: ../core
  flutter_riverpod: ^2.4.9
  cloud_firestore: ^6.1.0
  lucide_icons: ^0.257.0
  intl: ^0.20.2
  firebase_auth: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
